body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f7f7f7;
}

h1 {
    color: #0f172a;
}

h2 {
    color: #1e40af;
}

h3 {
    color: #374151;
}

p, li {
    font-size: 14px;
    line-height: 1.6;
}

hr {
    margin: 25px 0;
}